<div class="container">
<div class="row">
    <div class="about left-about">
      <h1 class="center">About Pick a Plex</h1>
      <p class="about-text">Pick a Plex started with a simple idea - provide an interface to select a top-rated movie from a nearby top-rated theater. Humans are inundated with choices, and studies have shown that we not only make decisions easier when there are fewer options, but we are also more likely to feel positively about those decisions.</p>
      <p class="about-text">With Pick a Plex, you can see the best theaters near your search location, and the top movies playing at those theaters with upcoming showtimes.</p>
      <p class="about-text">Stop wasting time jumping from site to site trying to find a movie that's worth going to. Just visit Pick a Plex, and go!</p>
    </div>
    <div class="about right-about">
      <h1 class="center">Creators</h1>
      <p>Built with love in the Ruby-005 semester at the <a href="http://flatironschool.com">Flatiron School</a>.</p>
      <div class="center">
        <div class="bio">
          <img alt="Headshot of Chris Callahan" src="https://avatars3.githubusercontent.com/u/5064148?s=140"/>
          <p>Chris Callahan</p>
          <a href="http://github.com/callahanchris">Github</a> | 
          <a href="http://callahanchris.github.io/">Blog</a>
        </div>
        <div class="bio">
          <img alt="Headshot of Randall Reed, Jr." src="https://secure.gravatar.com/avatar/e33e85c7ee8569ff8f49dcf2b224705d?s=140" />
          <p>Randall Reed, Jr.</p>
          <a href="http://github.com/randallreedjr">Github</a> |
          <a href="http://randallreedjr.com">Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>